body {
	font: 14px Arial, sans-serif;
	background-color: #F7F7F7;
}

th, td {
	padding: 2px 0px 2px 4px;
	text-align: right;
}

th.f, td.f {
	padding: 2px 0px 2px 0px;
}

a {
	color: blue;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	display: block;
}

.main-header-item {
	flex: 1 1 0;
	padding: 0px 2px;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	margin-right: 8px;
}

.block {
	border-radius: 4px;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	padding: 4px;
	margin-bottom: 8px;
	background-color: white;
}

.heading {
	display: flex;
	align-items: center;
	padding-bottom: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid #DDD;
}

.title {
	font-size: 16px;
	font-weight: bold;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.popup .popup-content {
	visibility: hidden;
	white-space: nowrap;
	position: absolute;
	background-color: white;
	padding: 4px 4px;
	border: 1px solid;
	border-radius: 4px;
	left: 46px;
	bottom: -32px;
	z-index: 1;
}

.popup .show {
	visibility: visible;
}

.l {
	text-align: left;
}

.r {
	text-align: right;
}

.c {
	text-align: center;
}